## This is how to load dataset from web with url link in python

In [7]:
# import pandas as pd
# url="https://www.fdic.gov/bank/individual/failed/banklist.csv"
# c=pd.read_csv(url)
# // This code generated the following error:
#     'utf-8' codec can't decode byte 0xa0 in position 4276: invalid start byte

To solve the above error i used the code bellow:

In [ ]:
import pandas as pd
url="https://www.fdic.gov/bank/individual/failed/banklist.csv"
c=pd.read_csv(url)

In [5]:
df = pd.read_csv(url,encoding='windows-1254')

In [8]:
df.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534